* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #28282B;
  color: #EAECE9;
}

.list {
    font-size: 30px;
}
