* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    color: #eaece9;
}

:root {
    --nav-height: 77px;
    --nav-padding: 0 6rem;
    --primary-background-black: #28282b;
    --secondary-background-black: rgb(66, 66, 66);
    --primary-color-white: #eaece9;
    --secondary-color-white: #eaece99d;
    --secondary-color-blue: royalblue;
    --primary-border: solid 1px #eaece9;
    --primary-boxshadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--primary-background-black);
}

.royal-hover:hover {
    color: var(--secondary-color-blue);
}

.blur-active {
    filter: blur(7px);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 7;
    height: var(--nav-height);
    padding: var(--nav-padding);
    background-color: var(--primary-background-black);
}

@media screen and (max-width: 690px) {
    .navbar {
        padding: 0 33px;
    }
}

.navbar .top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar .logo {
    font-family: cursive;
    font-size: 33px;
}

.navbar .logo:hover {
    transition: 0.3s;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--primary-border);
    border-radius: 33px;
    padding: 3px;
}

@media screen and (max-width: 930px) {
    .menu {
        display: none;
    }
}

.nav-link {
    border: solid 1px transparent;
    border-radius: 33px;
    padding: 7px 12px;
}

.nav-link:hover {
    border-color: var(--primary-color-white);
    transition: 0.3s;
}

.nav-link.active-nav-link {
    border: solid 1px var(--primary-color-white);
    color: var(--secondary-color-blue);
}

.top-left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-left-nav > :not(:last-child) {
    margin-right: 33px;
}

.hamburger {
    z-index: 21;
}

@media screen and (min-width: 930px) {
    .hamburger {
        display: none;
    }
}

.side-menu {
    z-index: 12;
    position: absolute;
    background-color: var(--secondary-background-black);
    box-shadow: var(--primary-boxshadow);
    width: 77%;
    max-width: 33rem;
    /* min-width: 21rem; */
    height: 100vh;
    top: 0;
    right: -77%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    transition: right 0.3s ease;
    /* display: none; */
}

.side-menu.active {
    right: 0;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.side-menu .content {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side-menu .content > :not(:last-child) {
    margin-bottom: 77px;
}

.resume:hover {
    transition: 0.3s;
}

.below-nav {
    margin-top: var(--nav-height);
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
}

.mid-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 21%;
}

@media screen and (max-width: 1066px) {
    .mid-content {
        padding: 0 12%;
    }
}

.hero-text > :not(:last-child) {
    margin-bottom: 33px;
}

.projects-page,
.contact-page,
.experience-page {
    flex-direction: column;
}

.contact-page {
    text-align: center;
    /* background-color: blue; */
    max-width: 1400px;
    margin: 0 auto;
}

.contact-page > :not(:last-child) {
    margin-bottom: 66px;
}

.contact-page h1 {
    font-size: 3rem;
}

.contact-page .contact-desc {
    line-height: 33px;
    font-size: 21px;
}

.chat-btn {
    border: var(--primary-border);
    border-radius: 33px;
    padding: 12px;
}

.chat-btn:hover {
    color: var(--secondary-color-blue);
    transition: 0.3s;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 900;
}

.hero-role,
.hero-text span {
    color: var(--secondary-color-blue);
    font-weight: 700;
}

.hero-text span:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.hero-role,
.hero-desc {
    font-size: 21px;
}

.hero-intro {
    color: var(--secondary-color-white);
}

.hero-desc {
    line-height: 30px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--nav-padding);
    height: calc(var(--nav-height) + 7vh);
    /* background-color: red; */
    width: 100%;
}

.main-footer p,
.main-footer svg {
    color: var(--secondary-color-white);
    stroke: var(--secondary-color-white);
}

.main-footer svg:hover {
    stroke: var(--secondary-color-blue);
    transition: 0.3s;
}

@media screen and (max-width: 678px) {
    .main-footer {
        flex-direction: column;
        justify-content: center;
        padding: 0 7px;
    }

    .main-footer p {
        margin-bottom: 12px;
        text-align: center;
    }
}

.main-footer svg {
    width: 20px;
    height: 20px;
}

.socials > :not(:last-child) {
    margin-right: 20px;
}

.page-title {
    margin-top: 33px;
    font-size: 25px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 21px;
    margin: 33px auto;
    width: 100%;
    max-width: 77rem;
}

.project-card {
    background-color: var(--secondary-background-black);
    border-radius: 7px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: var(--primary-boxshadow);
}

.project-card:hover {
    transform: translateY(-12px);
}

.project-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card-body {
    /* background-color: brown; */
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.card-body > :not(:last-child) {
    margin-bottom: 25px;
}

.card-title {
    /* background-color: blue; */
    font-size: 21px;
}

.card-desc {
    /* background-color: blue; */
    flex: 1;
}

.card-footer ul {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    line-height: 1.75;
}

.card-footer ul > :not(:last-child) {
    margin-right: 10px;
}

.card-footer ul li {
    color: #eaece971;
    font-weight: 700;
}

.experience-page {
    /* background-color: red; */
    justify-content: flex-start;
}

.experience-page > :not(:last-child) {
    margin-bottom: 33px;
}

.slider {
    /* background-color: white; */
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border: var(--primary-border);
    border-radius: 33px;
    padding: 3px;
    margin-top: 12%;
}

.slider .icon {
    position: absolute;
    top: 0;
    height: 100%;
    display: none;
    align-items: center;
    width: 77px;
}

.icon.active {
    display: flex;
}

.slider .icon svg {
    height: 70%;
    border-radius: 50%;
    cursor: pointer;
    padding: 3px;
}

.slider .icon svg:hover {
    background-color: var(--secondary-color-white);
    stroke: var(--primary-background-black);
}

.slider .icon:first-child {
    left: 0;
    background: linear-gradient(
        90deg,
        var(--primary-background-black) 70%,
        transparent
    );
    /* background: linear-gradient(90deg, red 70%, transparent); */
    /* display: none; */
}

.slider .icon:last-child {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(
        -90deg,
        var(--primary-background-black) 70%,
        transparent
    );
    /* background: linear-gradient(-90deg, red 70%, transparent); */
}

.slider .icon:first-child svg {
    margin-left: 7px;
}

.slider .icon:last-child svg {
    margin-right: 7px;
}

.slider .tabs {
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.slider .tabs::-webkit-scrollbar {
    display: none;
}

.slider .tabs.dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.tabs.dragging .tab {
    pointer-events: none;
}

.slider .tabs .tab {
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--secondary-color-white);
    color: var(--primary-background-black);
    border-radius: 33px;
    padding: 7px 12px;
    user-select: none;
}

.slider .tabs .tab.tab-active,
.slider .tabs .tab.tab-active:hover {
    background-color: var(--secondary-color-blue);
    color: var(--primary-color-white);
}

.slider .tabs .tab:hover {
    background-color: var(--primary-color-white);
    transition: 0.3s;
}

.exp-details {
    /* background-color: blue; */
    flex: 1;
    display: none;
    width: 100%;
    padding-top: 33px;
}

.exp-details.active {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.details-content {
    margin: 0 auto;
    width: 100%;
    max-width: 77rem;
    /* background-color: red; */
}

.exp-header {
    font-weight: 900;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    /* background-color: brown; */
}

.exp-title,
.exp-arrow {
    margin-right: 10px;
}

.exp-title {
    font-size: 21px;
    font-weight: 900;
}

.exp-arrow {
    font-size: 33px;
}

.exp-company {
    color: var(--secondary-color-blue);
    position: relative;
    display: inline-block;
}

.exp-company::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: var(--secondary-color-blue);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: 0.3s;
}

.exp-company:hover::after {
    width: 100%;
}

.exp-period {
    margin-bottom: 20px;
    color: var(--secondary-color-white);
    font-weight: 900;
}

ul.exp-list li {
    padding-left: 33px;
    position: relative;
}

ul.exp-list li:not(:last-child) {
    margin-bottom: 0.5em;
}

ul.exp-list li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%234169e1' class='size-6' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z' /%3E%3C/svg%3E");
}

@media screen and (max-width: 642px) {
    .exp-header {
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .navbar .logo {
        font-size: 21px;
    }
    
    .side-menu .content > :not(:last-child) {
        margin-bottom: 35px;
    }

    .mid-content {
        padding: 0 7%;
    }

    .contact-page > :not(:last-child) {
        margin-bottom: 33px;
    }

    .contact-page h1 {
        font-size: 33px;
    }

    .contact-page .contact-desc {
        line-height: 28px;
        font-size: 18px;
    }

    .hero-text > :not(:last-child) {
        margin-bottom: 21px;
    }

    .hero-text h1 {
        font-size: 31px;
    }

    .hero-role,
    .hero-desc {
        font-size: 18px;
    }

    .hero-desc {
        line-height: 21px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 376px) {
    .hero-text > :not(:last-child) {
        margin-bottom: 12px;
    }

    .hero-text h1 {
        font-size: 28px;
    }

    .hero-role,
    .hero-desc {
        font-size: 14px;
    }

    .hero-desc {
        line-height: 18px;
    }
}
